<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="scraperDB" connectionString="Data Source=MARK;Initial Catalog=MonitorScraper;Integrated Security=True"/>
	</connectionStrings>

	<appSettings>
		<!--email settings-->
		<add key="Email" value="markbarbuto@outlook.com"/>
		<add key="Host" value="smtp-mail.outlook.com"/>
		<add key="Username" value="MonScra Admin"/>
		<add key="Password" value="Ma16Ba2000."/>
		<add key="Port" value="587"/>
		<add key="EnableSsl" value="true"/>
		<add key="FromDisplay" value="Monitor Scraper"/>
		<add key="EmailSubjectSuccess" value="New Lowest Price Found"/>
		<add key="EmailSubjectError" value="Error(s) encountered"/>
		<!--scraping settings-->
		<add key="url" value="https://www.amazon.ca/s?k=144hz+1ms+monitor"/>
		<add key="productsPath" value="//*[@id='search']/div[1]/div/div[1]/div/span[3]/div[2]"/>
		<add key="titleRelativePath" value=".//*//h2/a/span" />
	</appSettings>
</configuration>